* {
  font-family: "open-sans", sans-serif;
}

.container {
  width: 50%;
  background-color: #d0dce2;
  border: solid 1px gray;
  border-radius: 5px;
  margin: auto;
  padding: 3vh 3vh 3vh 3vh;
}

.container h1 {
  text-align: center;
}

div {
  border: solid 1px gray;
}

.todo-checkbox {
  display: none;
}

.todo-checkbox + label {
  color: red;
  display: block;
  width: 100%;
}

.todo-checkbox:checked + label {
  color: blue;
}
