* {
  font-family: "open-sans", sans-serif;
}

button {
  font-size: 1em;
}

.container {
  width: 30%;
  background-color: #d0dce2;
  border: solid 1px gray;
  border-radius: 5px;
  margin: auto;
  padding: 15px 15px 15px 15px;
}

.container h1 {
  text-align: center;
}

.todo-item {
  margin: 20px 20px 20px 20px;
}
.todo-checkbox {
  display: none;
}

.todo-checkbox + label {
  color: red;
  display: block;
  width: 100%;
  margin: 10px 20px 10px 20px;
}

.todo-checkbox:checked + label {
  color: blue;
}

.delete-box button {
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.input-box button, input {
  padding: 0;
  margin: 0;
}

.input-box {
  height: 30px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.input-box button {
  height: 34px;
  float: right;
  width: 20%;
}

.input-box input {
  width: 76%;
  height: 30px;
}
