body {
  background-color: #f4f8fb;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-size: 1em;
}

.container {
  width: 400px;
  background-color: white;
  margin: auto;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container h1 {
  text-align: center;
}

.header h1 {
  text-align: center;
  margin: 20px 0 50px 0;
}

.todo-item {
  margin: 20px 20px 20px 20px;
}

.todo-checkbox {
  display: none;
}

.todo-checkbox + label {
  color: blue;
  display: block;
  width: 100%;
  margin: 10px 20px 10px 20px;
}

.todo-checkbox:checked + label {
  color: red;
  text-decoration: line-through;
}

.todo-checkbox + label:before {
  content: '';
  display: block;
  background-size: cover;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.todo-checkbox:checked + label:before {
  background-image: url('../images/checked.png');
}

.todo-checkbox:not(:checked) + label:before {
  background-image: url('../images/unchecked.png');
}
.delete-box button {
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 30px 20px;
  width: 85%;
}

.input-box button, input {
  padding: 0;
  margin: 0;
}

.input-box {
  height: 30px;
  width: 85%;
  margin: 10px 20px 10px 20px;
}

.input-box button {
  height: 34px;
  float: right;
  width: 20%;
}

.input-box input {
  width: 76%;
  height: 30px;
}
